@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');




.wrapper {
    overflow: auto;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;


    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    background-image: url("../img/Wrapper_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;

}

/* Header CSS */

.header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.header-container {
    padding-top: 18px;
    padding-bottom: 18px;

    display: flex;
    justify-content: space-between;

    color: #FFFFFF;
}

.header-logo-text {
    display: block;
    padding-left: 79px;
}

.header-logo-text:hover,
.login:hover,
.sign-up:hover {
    color: #3CB878;
    transition-duration: 0.75s;
}

.header-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar,
.envelope,
.compass {
    margin-right: 26px;

    cursor: pointer;
}

svg:hover path {
    fill: #3CB878;
    transition-duration: 0.75s;
}

.header-link-enter {
    padding-right: 79px;
    padding-left: 27px;
    border-left: 1px solid #FFFFFF;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}


/* Main CSS */

.main {
    display: flex;
    margin: 0 auto;
    margin-top: 112px;
    

    width: 444px;
    height: 584px;

    background-color: #FFFFFF;
}

.enter-form {
    position: relative;
}

.enter-with {
    display: inline-flex;
}

.green-block {   
    position: absolute;
    top: 29px;

    width: 18px;
    height: 18px;

    background-color: #3CB878;
}

.sign {
    margin-top: 27px;
    margin-left: 61px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    color: #434343;
}

.sign:hover {
    color: #434343;
}

.log {
    margin-top: 33px;
    margin-left: 214px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #3CB878
}

.log:hover {
    text-decoration: underline;

    color: #01813F;
    transition-duration: 0.75s;
}

.buttons-enter {
    display: flex;
    align-items: center;

    padding-top: 15px;
    padding-left: 60px;

}

.btn-facebook {
    display: flex;
    align-items: center;

    padding-left: 16px;

    width: 160px;
    height: 48px;
    margin-right: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

    cursor: pointer;

    background-color: #305DB8;
    border-radius: 3px;
}

.btn-facebook:hover {
    background-color: #022263;
    transition-duration: 0.5s;

}

.fb-text {
    width: 1px;
    height: 28px;

    margin-left: 11px;
    padding-left: 18px;
    padding-top: 7px;

    border-left: 1px solid rgba(10, 22, 47, 1);
}

.btn-google {
    display: flex;
    align-items: center;

    width: 160px;
    height: 48px;

    padding-left: 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;

    cursor: pointer;

    background-color: #DF4A32;;
    border-radius: 3px
}

.btn-google:hover {
    background-color: #AB1F09;
    transition-duration: 0.5s;

}

.g-text {
    width: 1px;
    height: 28px;

    margin-left: 7px;
    padding-left: 30px;
    padding-top: 7px;

    border-left: 1px solid #2B0D09;

}

.or {
    position: relative;

    margin-top: 31px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    text-align: center;

    color: #848484;
}

.or::before,
.or::after {
    content: '';
    position: absolute;

    border-top: 1px solid #F2F2F2;

    top: 8px;

    width: 145px;
    right: 60px;
}

.or::before{
    right: 240px;
}

/* Input */
.emter-form {
    display: flex;
    justify-content: center;

    align-items: center;
}

.enter-name {
    margin-top: 12px;
    margin-left: 60px;

    width: 324px;
    height: 44px;

    text-indent: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    border: 1px solid #F2F2F2;
    border-radius: 4px;

    color: #BEBEBE;
}

.enter-name:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition-duration: .5s;

    color: #434343;
}

.enter-last-name {
    margin-top: 15px;
    margin-left: 60px;

    width: 324px;
    height: 44px;

    text-indent: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    border: 1px solid #F2F2F2;
    border-radius: 4px;

    color: #BEBEBE;
}

.enter-last-name:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition-duration: .5s;

    color: #434343;
}

.enter-email {
    margin-top: 15px;
    margin-left: 60px;

    width: 324px;
    height: 44px;

    text-indent: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    border: 1px solid #F2F2F2;
    border-radius: 4px;

    color: #BEBEBE;
}

.enter-email:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition-duration: .5s;

    color: #434343;
}

.enter-password {
    margin-top: 15px;
    margin-left: 60px;

    width: 324px;
    height: 44px;

    text-indent: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    border: 1px solid #F2F2F2;
    border-radius: 4px;

    color: #BEBEBE;
}

.enter-password:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition-duration: .5s;

    color: #434343;
}

.enter-conf-password {
    margin-top: 15px;
    margin-left: 60px;

    width: 324px;
    height: 44px;

    text-indent: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    border: 1px solid #F2F2F2;
    border-radius: 4px;

    color: #BEBEBE;
}

.enter-conf-password:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition-duration: .5s;

    color: #434343;
}

/* Checkbox */

.checkbox {
    margin-top: 12px;
    margin-left: 65px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    cursor: pointer;

    color: #434343
}

.checkbox-input+label {
    display: inline-flex;
    align-items: center;
}

.checkbox-input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;

    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 1000%;
    border: 1px solid #F2F2F2;

    background-image: url(../img/checkbox.svg)
}

.checkbox-input:checked+label::before {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;;
}

.checkbox-link {
    padding-left: 5px;

    color: #3CB878;
}

.checkbox-link:hover {
    text-decoration: underline;

    color: #01813F;
    transition-duration: 0.5s;
}


/* Button Create */

.btn-create {
    margin-top: 20px;
    margin-left: 60px;

    width: 324px;
    height: 46px;

    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;

    cursor: pointer;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
}

.btn-create:hover {
    background-color: #01813F;
    transition-duration: 0.5s;
}